@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #111827;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(255, 255, 255)
    )
    rgb(214, 219, 220);
}

h1, h2, h3, h4, h5, h6, p, span, label, a, li, td, th, dt, dd, figcaption, blockquote {
  color: inherit;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
